@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Passions+Conflict&family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: white;
}
nav{
    position: sticky;
    width: 100%;
    top: 0;
    /* right: 0; */
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    transition: all .5s ease;
    /* background: gray; */
}
nav a{
    text-decoration: none;
    color: black;
    
}
nav img{
    height: 80px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: orange;
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    display: flex;
    flex-direction: column;
}
.logo span p{
    color: orange;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: 'Lobster', cursive;
    font-family: 'Passions Conflict', cursive;
    /* font-family: 'Poppins', sans-serif; */
    rotate: -10deg;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 5px;
}
.navbar .rightbar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* margin-left: 200px; */
    
}
/* .navbar .rightbar li{
    justify-content: center;
} */
.navbar li{
    list-style: none;
}
.navbar a{
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .5s ease;
}
.navbar a:hover{
    color: orange;
}
.navbar a.active{
    color: orange;
}
.menu .fa-solid{
    font-size: 35px;
    color: orange;
    cursor: pointer;
    z-index: 10001;
    display: none;
} 
@media (max-width:1280px){
    nav{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width:1090px){
    .menu .fa-solid{
        display: block;
    }
    .navbar{
        
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        background: rgb(194, 223, 213);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 5px;
        transition: all .5s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all .5s ease;
    }
    .navbar a:hover{
        color: #CB0C43;
        transform: translateX(10px);
    }
    .navbar a.active{
        color: #CB0C43;
    }
    .navbar.open{
        right: 2%;
    }
}
.wrapper{
    background-image: url("images/bg.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    /* position: relative; */
}
.wrapper{
    content: "";
    background-image: url("images/bg.jpg");
    background-size: cover;
    /* position: absolute; */
    top: 0px;
    right: 0px;
    left: 0px;
    /* bottom: 0px; */
    background-color: rgba(0, 0, 0, 0.25);
}
.section1{
    /* margin: 50px; */
}
.section1 .upper{
    color: white;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
}
.section1 h1 #unique{
    color: orange;
    font-size: 100px;
    /* animation: .5s glow ease-in-out; */
}
/* @keyframes glow{
    from{

    }
} */
.section1 .middle{
    margin-top: 50px;
    /* background: gray; */
    /* opacity: .8; */
}
.section1 .middle p{
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.section1 .middle #off{
    color: orange;
}
.section1 .lower{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}
.section1 .lower button{
    justify-content: center;
    text-align: center;
    background:transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}
.section1 .lower button:hover{
    background: transparent;
    color: orange;
    border: 1px solid orange;
}
.section1 .lower2{
    margin: 20px;
    text-align: center;
    color: white;
    
}
.section1 .lower2 p{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.wrapper2{
    margin-top: 120px;
    
}
.wrapper2 h3{
    color: orange;
    text-align: center; 
}
.wrapper2 h1{
    color: black;
    text-align: center;
}
.wrapper2 .button{
    margin-top: 20px;
    text-align: center;
}
.wrapper2 button{
    background: orange;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    font-size: 15px;
    border-radius: 5px;
}
.wrapper2 button:hover{
    cursor: pointer;
}
.cont{
   /* background: #ffe7d6;  */
   padding: 20px;
}
.container{
    width: 100%;
    overflow: hidden;
}

.container .main-card{
    margin: 30px;
    /* width: 200%; */
    /* background: gray; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 1s ease;
}
.main-card .cards .card{
    background: #ffe7d6;
    height: 400px;
    width: calc(100% / 3 - 10px);
    /* padding: 30px; */
    /* border-radius: 24px; */
    margin: 10px;
    /* border: 1px solid rgb(214, 211, 211); */
    
}
.main-card .cards .card:hover{
    transform: translateY(-10px);
    box-shadow: 2px 2px 2px 2px rgb(211, 210, 210);
}
.wrapper2 .main-card .cards .content .img{
    height: 300px;
    /* width: 100px; */
    margin-bottom: 14px;
}
.wrapper2 .main-card .cards .content .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 10%; */
    /* background: orange; */
    padding: 3px;
    /* border: 3px solid white; */
}
/* #two:checked ~ .main-card{
    margin-left: -50%;
} */
.main-card .cards{
    /* width: calc(100% / 2 - 10px); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    /* flex-wrap: wrap; */
}
.main-card .card .content .details{
    background: white;
}

.main-card .card .content .details .name{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.main-card .card .content .details .rating{
    font-size: 20px;
    color: orange;
    display: flex;
    margin: 0px 10px 10px 10px;
}
.main-card .card .content .details .rating .price{
    background: orange;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
}
.checked {
    color: orange;

}
.star{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 60px;
    /* right: 0; */
}
.wrapper2 .button2{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.wrapper2 .button2 label{
    height: 15px;
    width: 15px;
    background: gray;
    margin: 0 4px;
    border-radius: 50%;
    /* transition: all 0.5s ease; */

}
/* .wrapper2 .button2 label.active{
    background: orange;
}
#one:checked ~ .wrapper2 .button2 label.one{
    background: orange;
}
#two:checked ~ .wrapper2 .button2 label.two{
    background: gray;
}
#two:checked ~ .wrapper2 .button2 label.one{
    background: orange;
}
#one:checked ~ .wrapper2 .button2 label.two{
    background: gray;
}
input[type="radio"]{
    display: none;
} */
@media (max-width: 768px) {
    .main-card .cards{
        width: calc(100% / 2 - 10px);
        margin: 20px 0 10px 0;
    }
}
@media (max-width: 600px) {
    .main-card .cards{
        width: 100%;
        /* margin: 20px 0 10px 0; */
    }
}
.wrapper3{
    margin-top: 120px;
   
}
.wrapper3 h3{
    color: orange;
    text-align: center; 
}
.wrapper3 h1{
    color: black;
    text-align: center;
}
.stat-cont{
    display: flex;
    background: #ffe7d6;
}
.stat-cont .icon{
    height: 50px;
    width: 50px;
    background: white;
    margin: auto;
    margin-top: 20px;
    /* width: 50%; */
  /* border: 3px solid green; */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(197, 195, 195);
}
.stat-cont .icon i{
    margin: auto;
    margin-top: 8px;
}
.stat-cont .cont1{
    margin-top: 20px;
    text-align: center;
    margin: 10px;
}
.cont1 h3{
    margin-top: 20px;
}
.cont1 p{
    font-size: 15px;
}
.footer{
    display: flex;
    margin: 50px;
}
.footer li{
    list-style: none;
}
.footer li a{
    text-decoration: none;
}
.footer .center{
    display: flex;
    margin: 0 20px 0 20px;
}